QPushButton, QCheckBox, QLabel, QSlider, QToolButton{
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 12px;
}

QSpinBox, QDoubleSpinBox, QListView{
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 11px;
}

QTableWidgetItem, QTabBar{
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 10px;
font-weight: bold;
}

QLineEdit{
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 12px;
border: 2px;
background-color: white;
color: grey;
}

QTableWidgetItem{
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 10px;
}
